
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Patua One"
}

.title-text {
  font-family: 'Patua One', cursive;
  font-size: 4em
}

.subtitle-text {
  font-family: 'Patua One', cursive;
  font-size: 2em
}

.header-text {
  font-family: 'Patua One', cursive;
  font-size: 1.2em
}

.card-overlay {
  background-color: rgba(12, 4, 4, 0.568);
}

.sold-out {
  background-color: rgba(65, 7, 7, 0.568);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  margin-top: 100%
}

.hero-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto
}

.alternate-font {
  font-family: "Open Sans", "cursive"
}

